<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CatalystNoclip.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <CatalystNoclip.Properties.Settings>
            <setting name="ToggleNC" serializeAs="String">
                <value>59</value>
            </setting>
            <setting name="SwitchNCMode" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="FasterHotkey" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="SlowerHotkey" serializeAs="String">
                <value>208</value>
            </setting>
            <setting name="AutoNoclip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NSHotkey" serializeAs="String">
                <value>61</value>
            </setting>
            <setting name="ShowOverlay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowSpeed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowNCState" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowNSState" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OnlyShowWhenTrue" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoInject" serializeAs="String">
                <value>False</value>
            </setting>
        </CatalystNoclip.Properties.Settings>
    </userSettings>
</configuration>